section{
    margin-bottom: 200px;
}
@media screen and (max-width: 992px) {
   h1 {
        font-size: 30px;
   }
}
@media screen and (max-width: 768px) {
  h1 {
       
   }
}
@media screen and (max-width: 576px) {
    h1 {
        font-size: 25px;
       
    }
}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 20px;
    }
}